 
.socials{
    width: 5vh;
    margin-left: auto;
    float: right;
    margin-left: 20px;
    margin-top: -2px;
}

.logo{
    font-weight: bolder;
    font-size: 2rem;
    background: darkslategray;;
    padding: 0%;
    margin: 0%;
}
  
.logo1{
    color: #FD7944;
}

.logo2{
    color: #161616;
}

.man-standing{
    position: absolute;
    right: 40vh;
    bottom: 10vh;
    width: 40vh;
}
  

  
.student {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info-display{
    background-color: white;
    width: 70vh;
    height: 60vh;
    align-items: center;
}

.text-display{
    position: relative;
}

.image-location{
    position: relative;
    width: 14vh;
    height: 14vh;
}
  
.item-left{
    top: 5vh;
    font-size: large;
    font-weight: bolder;
}

.item-right{
    left: 20vh;
    top: 5vh;    
    font-size: large;
    font-weight: bolder;
}

  
.footer {
    background: rgb(255, 119, 0);
    padding: 1em;
    color: white;
    text-align: center;
    margin-bottom: 0;
}